@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
h1{
    font-size: 2.5vw;
}
.humidity{
    font-size: 1.5vw;
}
.windSpeed{
    font-size: 1.5vw;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/1600x900?nature");
    
}
/* body{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
    background-image: url("https://source.unsplash.com/1600x900?nature");
} */
.card{
    color: white;
    background-color:rgba(0,0,0,0.9);
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(90px);
    padding-top: 1vw;
    padding-left: 2vw;
    border-radius: 20px;
    padding-bottom: 2vw;
    width:40%;
    height: 30vw;
    max-width: 450vw;
}
input.searchBar {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding-left: 2vw;
    height: 4vw;
    font-size: 1.2vw;
    outline: none;
    background-color: rgba(51, 39, 39, 0.5);
    color: aliceblue;
    margin: 2vw;
    margin-right: 1vw;
}
button#search-Btn {
    margin-left: 0.5vh;
    height: 3.4vw;
    width: 3vw;
    border: none;
    background: none;
    fill: grey;
}
button#search-Btn:hover{
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather{
    margin-top: 1vw;
    margin-left: 2vw;
}



