*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/1600x900?nature");
    
}
/* body{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
    background-image: url("https://source.unsplash.com/1600x900?nature");
} */
.card{
    color: white;
    background-color:rgba(0,0,0,0.9);
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(90px);
    padding-top: 1vh;
    padding-left: 2vh;
    border-radius: 20px;
    padding-bottom: 2vh;
    width:40%;
    height: 50vh;
    max-width: 450vh;
}
input.searchBar {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding-left: 2vh;
    height: 4vh;
    font-size: 120%;
    outline: none;
    background-color: rgba(51, 39, 39, 0.5);
    color: aliceblue;
    margin: 20px;
    margin-right: 7px;
}
button#search-Btn {
    margin-left: 0.5vh;
    height: 3.4vh;
    width: 3vh;
    border: none;
    background: none;
    fill: grey;
}
button#search-Btn:hover{
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather{
    margin-top: 10px;
    margin-left: 20px;
}



